.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 !important;
}

.card-login {
    width: 300px;
    background-color: #A0F6DB;
    padding: 20px;
    border-radius: 20px 20px 30px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 !important;
    padding: 0;
}

div.content-form {
    background-color: #003249;
    border-radius: 0 50px 20px 20px;
    padding: 20px;
}

button.btn-entrar {
    background-color: #A0F6DB;
    color: #003249;
    border-radius: 10px;
    height: 50px;
    font-family: Nunito, sans-serif;
    font-size: 16px;
    font-weight: 700;
    border: 0 !important;
    margin-top: 20px;
}

a.btn-inscreva {
    color: #A0F6DB;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

a.btn-ir-login {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 8px;
    text-decoration: none;
    color: #A0F6DB;
    margin-top: 2px;
    text-decoration: none;
    text-align: left;
    margin-bottom: 20px;
}

h2 {
    color: #003249;
    margin-bottom: 20px;
}

form.form-login {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
    color: #A0F6DB;
}

input {
    padding: 10px;
    height: 30px;
    background-color: #E4F9F2;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 1px solid #E4F9F2;
}

.check-left {
    display: flex;
    align-items: left;
    gap: 5px; 
}

.check-left input[type="checkbox"] {
    width: 15px; 
    height: 15px; 
    accent-color: #A0F6DB;
    cursor: pointer; 
}

.check-left input[type="checkbox"]:checked {
    background-color: #A0F6DB;
    border: none;
}
